@import './globalVariables.scss';

.createPost {
  margin-top: 140px;
  margin-block-end: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 70%;
  min-width: 600px;

  @media screen and (min-width:1536px){
    max-width:1356px;
    margin-left: auto;
    margin-right: auto;
  }

  .postForm {
    display: flex;
    flex-direction:row;
    align-content: center;
    justify-content: center;
    min-Width:300px;
    max-width:1000px;
    height:100%;
  }

}





