@import './globalVariables.scss';


.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width:1536px){
    max-width:1356px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .homeFeed {
    padding-top: 80px;
    padding-bottom: 24px;
    width:60%;
    height: 90vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-left: 40%;

  }
  #googleMapDiv {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
