@import './globalVariables.scss';


.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .homeFeed {
    padding-top: 120px;
    padding-bottom: 66px;
    width:80%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;

    .feed {
      &:hover {
        transform: scale(1.05);
        transition-duration: 500ms;
      }
      &:not(:hover) {
        transition-duration: 500ms;
      }
    }

  }
}
