@import 'globalVariables.scss';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

.navBarLogo {
  width: 100%;
  height: auto;
}

h1, button {
  border: none;
  background: none;
  
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 300ms;
  }

  &:not(:hover) {
    transition-duration: 750ms;
  }

  svg {
    filter: invert(13%) sepia(3%) saturate(6478%) hue-rotate(180deg) brightness(96%) contrast(82%);
  }

}

a {
  text-decoration: none;
  display: flex;
}

.nav {
  position: fixed;
  background: linear-gradient(180deg, #658495 0%, #81a9c1 30%, #98C1D9 80%);
  width: 100%;
  height: 66px;

  z-index: 5;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 0px 24px $mid-blue;

  .leftBtn {

    padding-left: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    a {
      margin-left: 2%;
      height: 100%;
      img {
        height: 120px;
        &:hover {
          transform: scale(1.1);
          transition-duration: 300ms;
        }
        &:not(:hover) {
          transition-duration: 600ms;
        }
      }
    }

    h1 {
      font-family: 'DM Sans', sans-serif;
      font-size: 36px;
      margin-left: 4%;
      color: #293241;
      width:350px;
      margin-block-end: 0px;
      margin-block-start: 0px;
      &:hover {
        transform: scale(1.05) translateX(4px)
      }
    }
    // a > img {
    //   height: 120px;
    //   // width:300px;
    //   filter: invert(16%) sepia(8%) saturate(1991%) hue-rotate(179deg) brightness(94%) contrast(89%);
    // }
  }


  .rightBtn {
    padding-right: 3%;
    width: 30%;
    display: flex;
    justify-content: end;
    gap: 2.5%;

    .post {
      margin-right: 4%;
    }
  }

}

