@import './globalVariables.scss';


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profileFeed {
    padding-top: 120px;
    padding-bottom: 66px;
    width:60%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;

    .applications {
      &:hover {
        transform: scale(1.05);
        transition-duration: 500ms;
      }
      &:not(:hover) {
        transition-duration: 500ms;
      }
    }
  }
}