@import './globalVariables.scss';


.profile {
  // height: 100vh;
  @media screen and (min-width:1536px){
    max-width:1356px;
    margin-left: auto;
    margin-right: auto;
  }

  .profileFeed {
    overflow-x:scroll;
    padding: 12px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @media screen and (min-width:1536px){
      max-width:1356px;
      margin-left: auto;
      margin-right: auto;
    }

    .applications {
      min-width: '300px';
      &:hover {
        transform: scale(1.05);
        transition-duration: 500ms;
      }
      &:not(:hover) {
        transition-duration: 500ms;
      }
    }
  }
}